*.json 
*.txt 
*.xlsx
*.code-workspace
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.tif
*.tif.aux.xml
*.tif.vat.dbf.xml
*.tif.xml
*.tif.vat.CPG
*.tif.vat.dbf
*.img
*.img.xml
*.img.aux.xml
*.img.vat.CPG
*.img.vat.cpg
*.img.vat.dbf
*.img.vat.dbf.xml
*.rde
*.rrd
*.ige
*.gitignore